# ExtrePython 25/05/18
Aquí va a estar la cheatsheet de todo lo que se hará durante la sesión.

In [1]:
print("Hello world!")

Hello world!

## Importar las librerías
Lo primero será importar las librerías que se van a utilizar

In [2]:
import pandas as pd
import matplotlib as plt

## Pandas
Empezamos con la librería "pandas". Tal y como hemos hablado, pandas es una librería de estructura y análisis de datos. La principal estructura de datos que utiliza pandas es el Dataframe.
### Crear un DataFrame
Existen varias formas de crear un dataframe. Podemos crearlo desde un diccionario:

In [3]:
dic = {'a': [0,1,2,3,4], 'b': [4,5,6,1,1]}
df = pd.DataFrame(data=dic)
print(df)

   a  b
0  0  4
1  1  5
2  2  6
3  3  1
4  4  1

O un array:

In [4]:
array = [0,3,4,52,4,45,7,8]
df2 = pd.DataFrame(data=array)
print (df2)

    0
0   0
1   3
2   4
3  52
4   4
5  45
6   7
7   8

También se puede crear desde un fichero ya existente que contenga la información que necesites procesar. Por ejemplo un csv, un JSON o incluso una tabla en SQL.
### Herramientas I/O
Existe un método de lectura y otro de escritura por cada formato. Se pueden trasformas desde una amplia gama de formatos, pero por resumir sólo vamos a utilizar aquí csv y json. Si tienes curiosidad puedes ver todos los métodos y formatos aquí: https://pandas.pydata.org/pandas-docs/stable/io.html

In [7]:
df = pd.read_csv('schoolshooting.csv')
print(df)

         Date                   City           State  AreaType School  \
0     3/27/90               Brooklyn        New York       NaN      C
1     5/20/90            Centerville       Tennessee  suburban     HS
2     8/26/90              Las Vegas          Nevada     urban     HS
3     9/11/90            San Antonio           Texas       NaN     HS
4      1/8/91             Richardson           Texas     urban     HS
5      2/6/91                  Donna           Texas       NaN     HS
6     4/23/91                Compton      California     urban     MS
7     4/23/91                Compton      California       NaN     MS
8     9/18/91                 Crosby           Texas     rural     HS
9     9/18/91                 Crosby           Texas       NaN     HS
10    10/8/91                  Bronx        New York     urban     HS
11    11/1/91              Iowa City            Iowa     urban      C
12    11/1/91              Iowa City            Iowa       NaN      C
13   11/14/91                Houston           Texas     urban     HS
14   11/25/91               Brooklyn        New York     urban     HS
15   11/25/91               Brooklyn        New York       NaN     HS
16   12/12/91                   Kent            Ohio       NaN      C
17    1/29/92                   Kent            Ohio       NaN      C
18    2/26/92               Brooklyn        New York     urban     HS
19    2/26/92               Brooklyn        New York       NaN     HS
20     5/1/92             Olivehurst      California  suburban     HS
21     5/1/92             Olivehurst      California       NaN     HS
22    5/14/92                   Napa      California     urban     MS
23    9/11/92                Lincoln           Texas     urban     HS
24   10/12/92                Lincoln        Nebraska     urban      C
25   10/12/92                 Tucson         Arizona     urban     HS
26   10/19/92              The Bronx        New York       NaN     HS
27    11/4/92                Detroit        Michigan       NaN     HS
28   11/10/92                Chicago        Illinois     urban     ES
29   11/13/92                Houston           Texas     urban     HS
..        ...                    ...             ...       ...    ...
626    6/8/16             Dorchester   Massachusetts       NaN     HS
627    9/6/16           Cedar Rapids              IA       NaN     HS
628    9/9/16                 Alpine           Texas       NaN     HS
629   9/28/16              Townville  South Carolina       NaN     ES
630  10/11/16                 Mobile         Alabama       NaN     HS
631  10/13/16               Columbus            Ohio       NaN     HS
632  10/18/16          San Francisco      California       NaN     HS
633  10/25/16                  Sandy            Utah       NaN     MS
634   12/1/16              Bountiful            Utah       NaN     MS
635   1/20/17           West Liberty            Ohio       NaN     HS
636   1/20/17                Seattle      Washington       NaN      C
637   3/21/17              King City      California       NaN     HS
638   4/10/17         San Bernardino      California       NaN     ES
639    5/4/17                 Irving           Texas       NaN      C
640   9/13/17               Rockford      Washington       NaN     HS
641   9/20/17                Mattoon        Illinois       NaN     HS
642  11/14/17  Rancho Tehama Reserve      California       NaN     ES
643   12/7/17                  Aztec      New Mexico       NaN     HS
644    1/9/18            Forest City            Iowa       NaN      -
645   1/20/18          Winston-Salem  North Carolina       NaN      C
646   1/22/18                  Italy           Texas       NaN     HS
647   1/22/18            New Orleans       Louisiana       NaN     HS
648   1/23/18        Marshall County        Kentucky       NaN     HS
649    2/1/18            Los Angeles      California       NaN     MS
650   2/14/18               Parkland         Florida       NaN     HS
651    3/2/18         Mount Pleasant        Michigan       NaN      C
652    3/7/18             Birmingham         Alabama       NaN     HS
653   3/14/18             Birmingham         Alabama       NaN      C
654   3/20/18            Great Mills        Maryland       NaN     HS
655   4/20/18                  Ocala         Florida       NaN     HS

     Fatalities  Wounded  Dupe Source  \
0             0      1.0   NaN   Wikp
1             1      NaN   NaN    Pah
2             1      NaN   NaN    Pah
3             0      3.0   NaN   Wikp
4             0      NaN   NaN    Pah
5             1      0.0   NaN   Wikp
6             1      NaN  True    Pah
7             1      0.0   NaN   Wikp
8             1      NaN  True    Pah
9             1      0.0   NaN   Wikp
10            1      NaN   NaN    Pah
11            5      NaN  True    Pah
12            6      1.0   NaN   Wikp
13            0      NaN   NaN    Pah
14            1      NaN  True    Pah
15            1      0.0   NaN   Wikp
16            1      0.0   NaN   Wikp
17            0      1.0   NaN   Wikp
18            2      NaN  True    Pah
19            2      0.0   NaN   Wikp
20            4      NaN  True    Pah
21            3     10.0   NaN   Wikp
22            0      NaN   NaN    Pah
23            0      NaN   NaN    Pah
24            0      NaN   NaN    Pah
25            1      NaN   NaN    Pah
26            0      3.0   NaN   Wikp
27            0     11.0   NaN   Wikp
28            0      NaN   NaN    Pah
29            1      NaN   NaN    Pah
..          ...      ...   ...    ...
626           1      3.0   NaN   Wikp
627           1      0.0   NaN   Wikp
628           1      2.0   NaN   Wikp
629           2      2.0   NaN   Wikp
630           0      1.0   NaN   Wikp
631           0      2.0   NaN   Wikp
632           0      4.0   NaN   Wikp
633           0      1.0   NaN   Wikp
634           0      0.0   NaN   Wikp
635           0      1.0   NaN   Wikp
636           0      1.0   NaN   Wikp
637           0      1.0   NaN   Wikp
638           3      1.0   NaN   Wikp
639           2      0.0   NaN   Wikp
640           1      3.0   NaN   Wikp
641           0      1.0   NaN   Wikp
642           6     18.0   NaN   Wikp
643           3      0.0   NaN   Wikp
644           0      0.0   NaN   Wikp
645           1      0.0   NaN   Wikp
646           0      1.0   NaN   Wikp
647           0      1.0   NaN   Wikp
648           2     18.0   NaN   Wikp
649           0      5.0   NaN   Wikp
650          17     14.0   NaN   Wikp
651           2      0.0   NaN   Wikp
652           1      2.0   NaN   Wikp
653           2      1.0   NaN   Wikp
654           2      1.0   NaN   Wikp
655           0      1.0   NaN   Wikp

                                                  Desc
0    A black youth was taunted with racial slurs by...
1                                                  NaN
2                                                  NaN
3    3 students were wounded when gunfire broke out...
4                                                  NaN
5    15-year-old Raul Calvo shot himself dead while...
6                                                  NaN
7    A teenager aimed and fired a handgun at a secu...
8                                                  NaN
9    17-year-old Arthur Jermel Jack, was killed by ...
10                                                 NaN
11                                                 NaN
12   University of Iowa shooting: 28-year-old forme...
13                                                 NaN
14                                                 NaN
15   Thomas Jefferson High School shooting: During ...
16   51-year-old custodian, John Frazier, was kille...
17   26-year-old graduate student, Sarah Smith, was...
18                                                 NaN
19   Thomas Jefferson High School second shooting: ...
20                                                 NaN
21   Lindhurst High School shooting: Former student...
22                                                 NaN
23                                                 NaN
24                                                 NaN
25                                                 NaN
26   Two 14-year-old girls and a 16-year-old boy we...
27   11 students were hit by gunfire during a four-...
28                                                 NaN
29                                                 NaN
..                                                 ...
626  One student was killed and three other individ...
627  A 15 year-old male student shot himself at Jef...
628  A 14-year-old female student shot a 16-year-ol...
629  Townville Elementary School shooting: Two stud...
630  A student was shot in the abdomen and wounded ...
631  Two students were shot and wounded on the fron...
632  Four students were shot outside June Jordan Hi...
633  Police say the two teens ages 14 and 16 were i...
634  At Mueller Park Junior High School, a 15-year-...
635  A 17-year-old student was charged with attempt...
636  A 34-year-old man was shot in Red Square at Un...
637  An 18-year-old King City High School student w...
638  North Park Elementary School shooting: Cedric ...
639  North Lake College: Adrian Victor Torres kille...
640  Freeman High School: Three students injured an...
641  Mattoon High School: A 14-year-old male studen...
642  Rancho Tehama Reserve shootings: Neighbor on a...
643  Aztec High School shooting: William Atchison, ...
644  A man shot a pellet gun at a school bus full o...
645  A student was fatally shot on the campus of Wa...
646  A 16-year-old male student fired at a 15-year-...
647  Shots were fired from a truck in the parking l...
648  Marshall County High School shooting: A 15-yea...
649  Two 15-year-old students, a boy and a girl, we...
650  Marjory Stoneman Douglas High School shooting:...
651  Central Michigan University shooting: Two peop...
652  Huffman High School.  Law enforcement original...
653  UAB: A disgruntled employee entered the UAB Hi...
654  Great Mills High School: School placed on lock...
655  Forest High School: School evacuated after sho...

[656 rows x 10 columns]